<h2><%= current_user.name %></h2>
<%= link_to 'Edit Profile', user_edit_path %>
<p><%= current_user.email %></p>
<p><%= current_user.address %></p>
<p><%= current_user.city %>, <%= current_user.state %> <%= current_user.zip %></p>
