<nav class = "topnav" id="navigation">
  <%= link_to "Monstar Shop", root_path %>
  <%= link_to "All Merchants", "/merchants"%>
  <%= link_to "All Items", "/items"%>
  <%= link_to "Login" unless current_user %>
  <%= link_to "Register", register_path unless current_user %>
  <%= link_to "Cart: #{cart.total_items}", "/cart" unless current_admin? %>
  <%= link_to "Log Out" if current_user %>
  <%= content_tag :p, "Logged In as #{current_user.name}" if current_user %>
  <%= link_to "Profile" if current_user %>
  <%= link_to "Merchant Dashboard" if current_merchant? %>
  <%= link_to "Admin Dashboard" if current_admin? %>
  <%= link_to "Users" if current_admin? %>
</nav>
